<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>用户中心-修改密码-生鲜网</title>
		<link rel="stylesheet" href="layui/css/layui.css" media="all">
		<link rel="stylesheet" href="css/index.css" media="all" />
		<link rel="stylesheet" href="css/plulic.css" media="all" >
		<link rel="stylesheet" href="css/userInfo.css" media="all" >
		<link rel="stylesheet" href="css/city-picker.css"  media="all"/><!--地址联动样式-->
		<link rel="stylesheet" href="css/register.css" media="all" />
		<link href='img/index/logo.png' rel='icon' type='image/x-icon'/>
		<style>
			body {
			    overflow-x: hidden;
			    width: 100%;
			    background: url(img/index/bg-body.jpg);
			}
			button, input[type="number"], input[type="password"], input[type="reset"], input[type="submit"], input[type="text"], select, textarea{
				text-indent: 10px;
				border: 1px solid #ddd;
			}
			.regist-content > .b-title .icon-mobile{
				background: url(img/userInfo/icon-my-pwd.png);
			}
			.op-btn,.regist-form{
				margin-left: 50px;
			}
			.regist-wrapper{padding-top: 0px;}
		</style>
	</head>
	<body>
		<nav>
				<ul class="layui-nav layui-row">
					<!--<li class="layui-nav-item">
				    	<a href="">控制台<span class="layui-badge">9</span></a>
				  	</li>-->
				  	<li class="layui-nav-item layui-col-xs2 layui-col-sm2 layui-col-md1">
				    	<a href="">请登录</a>
				  	</li>
				  	<li class="layui-nav-item layui-col-xs1 layui-col-sm1 layui-col-md1">
				    	<a href="">注册</a>
				  	</li>
				  	<li class="layui-nav-item layui-col-xs3 layui-col-sm1 layui-col-md4" style="display: none;">
				    	<a href="">个人中心<span class="layui-badge-dot"></span></a>
				  	</li>
				  	<li class="layui-nav-item layui-col-xs2 layui-col-sm1 layui-col-md1" style="display: none;">
				    	<a href=""><img src="http://t.cn/RCzsdCq" class="layui-nav-img">我</a>
				    	<dl class="layui-nav-child">
				      		<dd><a href="javascript:;">我的信息</a></dd>
				      		<dd><a href="javascript:;">修改信息</a></dd>
				      		<dd><a href="javascript:;">退出</a></dd>
				    	</dl>
				  	</li>
				  	<li class="layui-nav-item layui-col-xs3 layui-col-sm3 layui-col-md1" style="margin-right: 0px;" >
				    	<a href=""><img src="img/index/icon-shop-cart.png" class="layui-nav-img" >购物车<span class="layui-badge" >119</span></a>
				    </li>
				    <li class="layui-nav-item layui-col-xs3 layui-col-sm2 layui-col-md1" >
				    	<a href=""><img src="img/index/icon-order.png" class="layui-nav-img">我的订单</a>
				  	</li>
				    <li class="layui-nav-item layui-col-xs3 layui-col-sm2 layui-col-md1">
				    	<a href=""><img src="img/index/icon-fen.png" class="layui-nav-img">网站导航</a>
				    	<dl class="layui-nav-child" style="text-indent: 10px;">
				      		<dd><a href="javascript:;">蔬菜类</a></dd>
				      		<dd><a href="javascript:;">水果类</a></dd>
				      		<dd><a href="javascript:;">副食类</a></dd>
				      		<dd><a href="javascript:;">肉类</a></dd>
				      		<dd><a href="javascript:;">调料类</a></dd>
				    	</dl>
				    </li>
				</ul>
			</nav>
		<section>
			<div class="user_center_main">
				<!--  用户信息框分为 左边右边  -->
				<div class="user_center_main_box layui-clear">
					<!-- 左边  -->
					<div class="user_center_left">
						<p class="menu_tit">账号信息</p>
						<ul class="menu_group ">
							<li class="menu_group_list "><a  href="#"><i class="my-info"></i>我的资料</a></li>
							<li class="menu_group_list"><a><i class="my-collection" class="#"></i>我的收藏</a></li>
							<li class="menu_group_list"><a href="shopcard.html"><i class="my-card"></i>我的购物车</a></li>
						</ul>
						<p class="menu_tit">账号记录</p>
						<ul class="menu_group ">
							<li class="menu_group_list"><a><i class="my-order"></i>我的订单</a></li>
							<li class="menu_group_list"><a><i class="my-integral"></i>我的积分</a></li>
							<li class="menu_group_list"><a><i class="my-address"></i>收货地址</a></li>
						</ul>
						<p class="menu_tit">账号安全</p>
						<ul class="menu_group ">
							<li class="menu_group_list"><a class="hover"><i class="my-pwd"></i>修改密码</a></li>
						</ul>
					</div>
					<!-- 右边  我的资料 -->
					<div class="user_center_right">
						<div class="user_mian_bar">
							<p class="user_mian_bar_tit " style="letter-spacing: 5px;" ><span>我的密码</span></p>
								<div class="regist-wrapper" id="registWrapper">
									<div class="regist-content " data-id="registerForm">
										<div class="b-title">
											<h2>
												<span class="icon icon-mobile"></span>修改密码
											</h2>
										</div>
										<div class="ct-inner">
											<!--tab start-->
											<div class="tab">
												<!--手机注册-->
												<div id="mobile" class="regist-form" data-formType="mobile"  style="display:block;">
													<ul class="form-list" id="getCode">
														<li>
															<div class="form-input">
																<div class="form-unit">
																	<label class="input-tips J-placeholder" style="display: none;">手机号码</label>
																	<input type="text" class="qc-log-input-text lg" placeholder="手机号码" data-id="phoneInput">
																	<p class="form-input-help" style="text-align: left; color: rgb(225, 80, 74); font-size: 14px;display: none;"></p>
																</div>
															</div>
														</li>
														<li>
															<div class="form-input fm-verify">
																<div class="form-unit">
																	<label class="input-tips J-placeholder" >验证码</label>
																	<input type="text" class="qc-log-input-text" placeholder="验证码" data-id="smsCodeInput">
																	<button type="button" class="qc-log-btn xl" data-id="smsCodeBtn" hotrep="regist.fmverify.btn">获取验手机证码</button>
																	<p class="form-input-help J-errorTip J-promptTip" style="text-align: left; color: rgb(225, 80, 74); font-size: 14px;display: none;">请正确输入6位数字验证码</p>
																</div>
															</div>
														</li>
													</ul>
													<ul class="form-list" id="changPwd" style="display: none;">
														<li>
															<div class="form-input">
																<div class="form-unit">
																	<label class="input-tips J-placeholder" >新密码</label>
																	<input type="password" class="qc-log-input-text lg" placeholder="新密码" data-id="passwordInput">
																	<p class="form-input-help J-errorTip J-promptTip" style="text-align: left; color: rgb(153, 153, 153); font-size: 14px; display: none;">密码需包含字母、数字、标点符号（如. / _等，除空格外）中的3种，8-20个字符</p>
																</div>
															</div>
														</li>
														<li>
															<div class="form-input">
																<div class="form-unit">
																	<label class="input-tips J-placeholder" >确认密码</label>
																	<input type="password" class="qc-log-input-text lg" placeholder="确认密码" data-id="confirmPasswordInput">
																	<p class="form-input-help J-errorTip J-promptTip" style="text-align: left; color: rgb(225, 80, 74); font-size: 14px;display: none;">两次输入的密码不一致，请重新输入</p>
																</div>
															</div>
														</li>
													</ul>
												</div>
												<!--手机注册 end-->
												<div class="op-btn">
													<button type="button" class="qc-log-btn lg " id="codeCommit" >提交</button>
													<button type="button" class="qc-log-btn lg " id="pwdCommit" style="display: none;">提交</button>
													<button type="button" class="qc-log-btn lg" id="commitLoading" style="display:none">
														<div class="m-loading">
															<div class="loading">
																<div class="one"></div>
																<div class="two"></div>
																<div class="three"></div>
															</div>
														</div>
													</button>
												</div>
											</div>
											<!--tab end-->
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section></section>
		<script type="text/javascript" src="layui/layui.js" ></script>
		<script type="text/javascript" src="js/address/jquery.min.js"></script>
		<script type="text/javascript" src="js/address/city-picker.data.js"></script>
		<script type="text/javascript" src="js/address/city-picker.js"></script>
		<script type="text/javascript"  src="js/userInfo.js"></script>
	</body>
</html>
