<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>我的收银台-生鲜网</title>
		<link rel="stylesheet" href="css/plulic.css" media="all" >
		<link rel="stylesheet" href="css/lightPayCashie.css" media="all">
	</head>
	<body>
		<section>
			<div id="header">
				<div class="header-container fn-clear">
					<div class="header-title">
						<span class="logo">支付宝<s></s></span>
						<span class="logo-title">我的收银台</span>
					</div>
					<ul class="header-right">
                        <li class="account-id">支付宝账户：<span id="J-accountId">15123456789</span></li>
        			</ul>
				</div>
			</div>
		</section>
		<section>
			<div id="content">
				<div id="J_Order" class="order order-with-qr">
					<div class="order-wrapper">
						<div class="qr J_APop">
							<div id="J_QrWrapper" class="qr-wrapper">
								<canvas width="100" height="100" style="width: 100px; height: 100px;"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
